.container {
  padding: 2rem;
  color: #f0f0f0;
  background-color: #303030;
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #00e0ff;
}

.topActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.backButton {
  text-decoration: none;
  color: #ccc;
  font-size: 1.2rem;
  background: #444444;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #333;
  transition: background 0.3s;

  &:hover {
    background: #333;
  }
}

.primaryButton {
  background: #0070f3;
  background: #005bb5;
  color: white;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #005bb5;
  }
}

.primaryButtonSmall {
  background: #0070f3;
  background: #005bb5;
  color: white;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #005bb5;
  }
}

.secondaryButton {
  background: #444;
  color: white;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #555;
  }
}

.dangerButton {
  background: rgba(236, 12, 12, 0.686);
  color: white;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #b30000;
  }
}

.dangerButtonSmall {
  background: rgba(236, 12, 12, 0.686);
  color: white;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #b30000;
  }
}

.stageList {
  list-style: none;
  padding: 0;
}

.stageItem {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.stageInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #ccc;
  font-size: 1.5rem;
  font-style: italic;
}

.meta {
  font-size: 0.85rem;
  color: #aaa;
  display: flex;
  gap: 1rem;
}

.stageActions {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.groupList {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.groupItem {
  background: #222;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  margin-bottom: 0.8rem;
}

.groupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #e5ddc7;
}

.toggleButton {
  background: none;
  border: none;
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.teamList {
  margin-top: 0.5rem;
  list-style: none;
  padding-left: 1.5rem;
}

.teamItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #ccc;
 
}

.teamLogo {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

.linkRow {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;

  a {
    color: #ccc;
    font-size: 1.5rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.stageNameInput,
.groupNameInput {
  padding: 0.5rem;
  background: var(--color-input-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}
